/* You can add global styles to this file, and also import other style files */
@import "custom-theme";

body {
  font-family: "Oswald", sans-serif;
}

.primary-text-color {
  color: #bb86fc;
}

.full-width {
  width: 100%;
}
