<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button routerLink="/" mat-button class="toolbar__icon-button mat-button">
      <span style="margin-left:5px !important">WEB 425</span>
    </button>
    <button mat-button class="mat-button">About</button>
    <button mat-button class="mat-button">Contact Us</button>
    <div fxFlex></div>
    <button class="toolbar_icon_button" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="/login" mat-menu-item>
        <mat-icon> perm_contact_calendar</mat-icon>
        <span>My Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>LogOut</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main-body" fxLayout="row">
  <div class="sideNav" fxFlex="30%">
    <mat-sidenav-container >
      <mat-sidenav mode="side" opened>
        <mat-toolbar>
          <mat-toolbar-row>
            <h2>Sidebar Menu</h2>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 100vh;">
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="mainContent" fxFlex="70%">
    <mat-card style="margin: auto;margin-top: 30%;width: 50%;">
      <mat-card-title>Login Form</mat-card-title>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-label">Username: <input type="text" id="username" name="username" ngModel></div>
        <div class="form-label">SSN: <input type="text" name="ssn" id="ssn" ngModel></div>
        <div ngModelGroup="passwordsGroup" >
          <div class="form-label">Password: <input type="password" id="password1" name="password" ngModel></div>
          <div class="form-label">Confirm Password: <input type="password" id="password2" name="pconfirm" ngModel></div>
        </div>
        <button type="submit" class="form-btn">Submit</button>
      </form>
    </mat-card>
</div>