/*
    Title: app.component.css
    Author: Nathaniel Liebhart
    Date: January 27, 2020
    Description: this is the styles file for the app component
*/
.txt-bold {
    font-weight: bold;
}

.message {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    padding: 5px;
}